body {
    text-align: center;
    background-color: greenyellow;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}
h2 {
    font-family: fantasy;
    color: green;
}
h3 {
    font-family: fantasy;
    text-decoration: deepskyblue;
    text-shadow: indigo;
}






